* {
  margin: 0;
  padding: 0;
}

/* Const */
html {
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

input {
  outline: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.center {
  padding-right: calc(50% - 570px);
  padding-left: calc(50% - 570px);
}

a {
  text-decoration: none;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* setup checkbox and radio */
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  cursor: pointer;
}

.checkbox + label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0px;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  background: #FFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.checkbox + label:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-image: url(../img/check-mark.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.checkbox:checked + label:before {
  border: 1px solid #f16d7f;
}

.checkbox:checked + label:after {
  opacity: 1;
}

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio + label {
  position: relative;
  cursor: pointer;
}

.radio + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.radio + label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  background: #f16d7f;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.radio:checked + label:before {
  border: 1px solid #f16d7f;
}

.radio:checked + label:after {
  opacity: 1;
}

.radio:checked + label .reg__form__l-title {
  color: #E05C6E;
  font-weight: bold;
}

.top {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-top: 19px;
  padding-bottom: 18px;
}

.top__icon__search {
  cursor: pointer;
}

.top__icon__search:hover path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #E05C6E;
}

.top__icons:hover path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #E05C6E;
}

.top__icons:not(:first-child) {
  margin-left: 25px;
}

.top__icons:not(:first-child):last-child {
  margin-left: 42px;
}

.top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__form-btn {
  background-color: unset;
  border: none;
  margin-left: 41px;
}

.top__form-input {
  margin-left: 15px;
  background-color: unset;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  color: #fff;
}

.top__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__icons {
  cursor: pointer;
}

#switch {
  display: none;
}

#switch:checked ~ .menu__burger {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}

.red_circle {
  position: absolute;
  top: -8px;
  right: -9px;
  background-color: #f16d7f;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.red_circle span {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.menu__burger {
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  width: 232px;
  padding: 16px 17px 116px 33px;
  top: 78px;
  right: 0px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.menu__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__close__img {
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.menu__close__img:hover path {
  fill: #E05C6E;
}

.menu__head {
  padding-bottom: 25px;
}

.menu__header {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.menu__header:hover {
  color: #E05C6E;
}

.menu__items {
  list-style: none;
  padding-bottom: 20px;
}

.menu__title {
  padding-bottom: 11px;
  font-weight: normal;
  font-size: 14px;
}

.menu__title__link {
  color: #f16d7f;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.menu__title__link:hover {
  color: #636363;
}

.menu__item {
  color: #636363;
  list-style: none;
  padding-left: 21px;
  padding-bottom: 11px;
}

.menu__item:last-child {
  padding-bottom: 0px;
}

.menu__link {
  color: #636363;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.menu__link:hover {
  color: #E05C6E;
}

.mob__icons {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* Breadcrumb */
.breadcrumb {
  background-color: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

.breadcrumb__heading {
  padding-top: 59px;
  padding-bottom: 60px;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation__link:hover {
  color: #f16d7f;
}

.navigation__item:not(:last-child)::after {
  content: '/';
  margin-left: 4px;
  margin-right: 4px;
  color: #636363;
}

.navigation__item:last-child a {
  font-weight: bold;
  color: #f16d7f;
}

.sort__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 30px;
  padding: 8px 10px 6px 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.sort__quantity__input {
  display: inline-block;
  padding: 6px 8px;
  width: 10px;
  border: 1px solid #A4A4A4;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  text-transform: uppercase;
}

/* Promo */
.promo {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo__photo {
  width: 100%;
  height: 100%;
}

.promo__img {
  width: 50%;
}

.promo__title {
  padding-top: 290px;
}

.promo__content {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-left: 64px;
}

.promo__h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo__h2-section {
  color: #f16d7f;
}

/* Offer */
.offer {
  padding-top: 65px;
  padding-bottom: 96px;
}

.offer__text {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: default;
}

.offer__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.offer__link {
  color: #f16d7f;
}

.offer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.offer__items {
  height: 260px;
  width: 360px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.offer__item-1 {
  background-image: url(../img/offer-item1.jpg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.offer__item-1:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  -webkit-box-shadow: 0px 0px 18px 9px #ffb7c2;
          box-shadow: 0px 0px 18px 9px #ffb7c2;
}

.offer__item-2 {
  background-image: url(../img/offer-item2.jpg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.offer__item-2:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  -webkit-box-shadow: 0px 0px 18px 9px #ffb7c2;
          box-shadow: 0px 0px 18px 9px #ffb7c2;
}

.offer__item-3 {
  background-image: url(../img/offer-item3.jpg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.offer__item-3:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  -webkit-box-shadow: 0px 0px 18px 9px #ffb7c2;
          box-shadow: 0px 0px 18px 9px #ffb7c2;
}

.offer__bottom {
  height: 180px;
  width: 100%;
  background-image: url(../img/offer-item4.jpg);
  background-position: center;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.offer__bottom:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  -webkit-box-shadow: 0px 0px 18px 9px #ffb7c2;
          box-shadow: 0px 0px 18px 9px #ffb7c2;
}

/* Catalog */
.product {
  padding-bottom: 91px;
}

.product__options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 390px auto;
      grid-template-columns: 390px auto;
  padding-top: 35px;
  padding-bottom: 60px;
}

.product__filter {
  width: 360px;
  position: relative;
}

.product__filter__summary {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product__filter__summary:hover {
  color: #636363;
}

.product__filter__img {
  margin-left: 11px;
  cursor: pointer;
}

.product__filter__img:hover path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #636363;
}

.product__filter__details {
  padding: 13px 16px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.product__filter__details[open] {
  background: #FFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.product__filter__details[open] .product__filter__summary {
  color: #f16d7f;
}

.product__filter__details[open] path {
  fill: #f16d7f;
}

.product__filter__sidebar {
  padding-top: 16px;
}

.product__filter__details-in[open] .product__filter__title-in {
  color: #f16d7f;
}

.product__filter__summary-in {
  color: #6F6E6E;
  border-left: 5px solid #f16d7f;
  padding-top: 8px;
  padding-left: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 11px;
  cursor: pointer;
}

.product__filter__items {
  list-style: none;
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.product__filter__items a {
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product__filter__items a:hover {
  color: #E05C6E;
}

.product__filter__item:not(:first-child) {
  padding-top: 11px;
}

.product__sort {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.product__sort__img {
  padding-left: 10px;
  padding-right: 28px;
}

.product__sort__img:hover path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #636363;
}

.product__sort__details[open] .product__sort__selects {
  position: absolute;
  z-index: 1;
  width: 75px;
  padding: 7px 0px 5px 9px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__sort__details[open] .product__sort__selects-trands {
  width: 155px;
}

.product__sort__details[open] .product__sort__summary {
  color: #f16d7f;
}

.product__sort__details[open] path {
  fill: #f16d7f;
}

.product__sort__summary {
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product__sort__summary:hover {
  color: #636363;
}

.product__sort__selects-titles {
  display: inline-block;
  padding-left: 21px;
  padding-bottom: 6px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  text-transform: uppercase;
}

.sort_img {
  padding-right: 0px;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.pagination {
  text-align: center;
}

.pagination__arrow:hover path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: black;
}

.pagination__list {
  display: inline-block;
  margin-top: 48px;
  padding: 15px 16px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}

.pagination a {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pagination a.active {
  font-weight: bold;
  color: #EF5B70;
}

.pagination a:hover:not(.active) {
  color: #EF5B70;
}

.pagination__item:not(:last-child) {
  margin-right: 20px;
}

.product {
  padding-bottom: 96px;
}

.product__heading {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #222224;
  padding-bottom: 6px;
}

.product__text {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  padding-bottom: 48px;
}

.product__text-about {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-bottom: 18px;
}

.product__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  background: #F8F8F8;
}

.product__photo {
  position: relative;
}

.product__photo:hover .product__img {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.product__photo:hover .product__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__img {
  width: 100%;
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  color: white;
  font-size: 14px;
  line-height: 17px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 11px 16px 9px 14px;
  border: 1px solid white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product__add:hover {
  color: black;
  background-color: white;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.product__add:hover path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: black;
}

.product__icon {
  padding-right: 11px;
}

.product__content {
  padding: 24px 16px 20px;
}

.product__title {
  font-size: 13px;
  line-height: 16px;
  color: #222224;
  padding-bottom: 13px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.product__title:hover {
  color: #f16d7f;
}

.product__price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.product__btn {
  margin-top: 48px;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding: 15px 39px;
  border: 1px solid #f16d7f;
  margin-left: calc(50% - 108px);
  margin-right: calc(50% - 108px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product__btn:hover {
  color: #fff;
  background-color: #E05C6E;
}

.product__slider {
  background-color: #F7F7F7;
  border: 1px solid #EAEAEA;
}

.product__slider__img {
  padding-left: calc(50% - 300px);
  padding-right: calc(50% - 300px);
  padding-top: 11px;
  padding-bottom: 42px;
}

.product__slider__control {
  position: relative;
}

.product__slider__control-prew {
  margin-top: 365px;
  padding: 13px 17px;
  border: 0;
  background: rgba(42, 42, 42, 0.15);
  position: absolute;
  left: 0px;
  cursor: pointer;
}

.product__slider__control-prew:hover path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #E05C6E;
}

.product__slider__control-next {
  margin-top: 365px;
  padding: 13px 17px;
  border: 0;
  background: rgba(42, 42, 42, 0.15);
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.product__slider__control-next:hover path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #E05C6E;
}

.product-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin-top: -65px;
  border: 1px solid #EAEAEA;
  margin-right: calc(50% - 570px);
  margin-left: calc(50% - 570px);
  padding: 64px 250px;
  position: relative;
}

.product-description__header {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  padding-bottom: 12px;
  text-align: center;
}

.product-description__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  padding-bottom: 48px;
  padding-top: 5px;
  text-align: center;
}

.product-description__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  padding-bottom: 32px;
  padding-left: calc(50% - 277px);
  padding-right: calc(50% - 277px);
}

.product-description__price {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.product-description__sort {
  padding-top: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-description__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding: 15px 56px 14px 33px;
  border: 1px solid #f16d7f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-description__btn:hover {
  background-color: #f16d7f;
  color: #fff;
}

.product-description__btn:hover path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  fill: #fff;
}

.product-description__btn_img {
  padding-right: 14px;
}

.product-description__line_red {
  background-color: #f16d7f;
  height: 3px;
  width: 63px;
  border-top: none;
}

.product-description__line_greay {
  background-color: #EAEAEA;
  height: 1px;
  width: 641px;
  margin-top: 65px;
  margin-bottom: 72px;
}

.another__products {
  padding-top: 128px;
  padding-bottom: 128px;
}

.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 128px;
  background: #fff;
}

.basket__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.basket__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket__btn {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 17px 39px;
  border: 1px solid #A4A4A4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.basket__btn:hover {
  background: #E05C6E;
  color: #fff;
  border: 1px solid #E05C6E;
}

.basket__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  margin-bottom: 40px;
}

.basket__card:nth-last-child(2) {
  margin-bottom: 72px;
}

.basket__card__img {
  width: 262px;
  display: block;
}

.basket__card__content {
  padding: 22px 22px 62px 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.basket__card__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket__card h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
  color: #222222;
  width: 210px;
  padding-bottom: 42px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.basket__card h2:hover {
  color: #E05C6E;
}

.basket__card__icon {
  margin-top: 6px;
  margin-left: 109px;
  cursor: pointer;
}

.basket__card__icon:hover path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #E05C6E;
}

.basket__card__selection {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.basket__card__roster {
  list-style: none;
}

.basket__card__items:not(:last-child) {
  margin-bottom: 6px;
}

.basket__card__price {
  color: #f16d7f;
}

.basket__card__quantity {
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  padding: 2px 14px;
  width: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.basket__form {
  width: 360px;
}

.basket__form__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

.basket__form__input {
  padding: 13px 17px 16px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #A4A4A4;
  margin-bottom: 27px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 360px;
}

.basket__form__input:focus {
  -webkit-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
  color: #000;
}

.basket__form__input:nth-last-child(2) {
  margin-bottom: 23px;
}

.basket__form__btn {
  display: inline-block;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding: 10px 14px 12px 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.basket__form__btn:hover {
  background: #E05C6E;
  color: #fff;
  border: 1px solid #E05C6E;
}

.basket__checkout {
  margin-top: 57px;
  background: #F5F3F3;
  padding: 39px 34px 42px 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
}

.basket__checkout__line {
  height: 1px;
  background: #E2E2E2;
  width: 275px;
  margin-top: 21px;
  margin-bottom: 17px;
}

.basket__checkout__btn {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #f16d7f;
  padding: 15px 43px 16px 41px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.basket__checkout__btn:hover {
  background: #E05C6E;
}

.sub {
  padding-bottom: 12px;
  text-align: right;
}

.sub__heading {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.sub__price {
  margin-left: 25px;
}

.grand {
  text-align: right;
}

.grand__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.grand__price {
  font-weight: bold;
  color: #f16d7f;
  margin-left: 25px;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 96px;
}

.reg__form {
  max-width: 360px;
  margin-right: 128px;
}

.reg__form__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

.reg__form__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.reg__form__input {
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
  padding: 13px 17px 16px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.reg__form__input:nth-child(3) {
  margin-bottom: 31px;
}

.reg__form__input:focus {
  -webkit-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
  color: #000;
}

.reg__form__radio-chek {
  margin-bottom: 33px;
}

.reg__form__l-title {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  padding-left: 27px;
  padding-right: 20px;
}

.reg__form__btn {
  display: inline-block;
  background: #f16d7f;
  border: 1px solid #f16d7f;
  color: #fff;
  padding: 17px 29px;
  margin-top: 39px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.reg__form__btn:hover {
  background: #fff;
  color: #f16d7f;
}

.reg__form__btn:hover path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #f16d7f;
}

.reg__loyalty {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.reg__loyalty__heading {
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 22px;
}

.reg__loyalty__text {
  padding-bottom: 21px;
}

.reg__loyalty__points {
  list-style: none;
}

.reg__loyalty__point {
  padding-bottom: 16px;
  padding-left: 46px;
  position: relative;
}

.reg__loyalty__point::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0px;
  background-image: url(../img/v.svg);
  background-repeat: no-repeat;
  height: 16px;
  width: 20px;
}

.reg__loyalty__point:last-child {
  padding-bottom: 0px;
}

/* Featuce */
.feature {
  background-color: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
}

.feature__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature__item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.feature__heading {
  padding-top: 19px;
  padding-bottom: 16px;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.feature__text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

/* Subscribe */
.subscribe {
  padding-top: 97px;
  padding-bottom: 126px;
  background: rgba(244, 244, 244, 0.7);
  background-image: url(../img/subscribe_bg.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
}

.subscribe__info__text {
  padding-top: 30px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__item {
  margin-right: 104px;
  text-align: center;
}

.subscribe__item__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}

.subscribe__item__text {
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  padding-bottom: 37px;
}

.subscribe__item__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  background-color: #E1E1E1;
  width: 100%;
  height: 49px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 25px 0 0 25px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
}

.subscribe__btn {
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  padding: 17px 20px 15px;
  background-color: #f16d7f;
  border-radius: 0 25px 25px 0;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.subscribe__btn:hover {
  background-color: #E05C6E;
}

/* Footer */
footer {
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__icons:not(:last-child) {
  margin-right: 7px;
}

.footer__icon:hover path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #f16d7f;
}

.footer__icon:hover .icons-in {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #fff;
}

@media (max-width: 1025px) {
  .container {
    width: 736px;
    margin: 0 auto;
  }
  .center {
    padding-right: calc(50% - 368px);
    padding-left: calc(50% - 368px);
  }
  .promo__title {
    padding-top: 138px;
  }
  .promo__h1 {
    font-size: 44px;
    line-height: 53px;
  }
  .promo__h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .offer {
    padding-top: 19px;
    padding-bottom: 155px;
  }
  .offer__top {
    gap: 19px;
  }
  .offer__items {
    height: 168px;
  }
  .offer__bottom {
    height: 116px;
    margin-top: 19px;
  }
  .product {
    padding-bottom: 65px;
  }
  .product__heading {
    padding-bottom: 3px;
  }
  .product__text {
    padding-bottom: 73px;
  }
  .product__items {
    gap: 16px;
  }
  .product__options {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    padding-top: 11px;
    padding-bottom: 40px;
  }
  .product__sort {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .product__sort__summary {
    padding-bottom: 5px;
  }
  .product__sort__selects-titles {
    padding-left: 25px;
    padding-right: 65px;
  }
  .product__catalog {
    padding-bottom: 63px;
  }
  .product__slider__control-prew {
    margin-top: 288px;
  }
  .product__slider__control-next {
    margin-top: 288px;
  }
  .product__slider__img {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .product__slider__photo {
    display: block;
    margin: 0 auto;
    width: 465px;
  }
  .product-description {
    margin: 0px;
    padding: 64px 106px;
  }
  .feature {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .feature__content {
    gap: 48px;
  }
  .subscribe {
    padding-top: 64px;
    padding-bottom: 140px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url(img/subscribe_bg_tablet.jpg);
    background-position: unset;
  }
  .subscribe__item {
    margin-top: 48px;
    margin-right: 0px;
    text-align: center;
  }
  .subscribe__item__heading {
    line-height: 39px;
  }
  .subscribe__item__text {
    line-height: 29px;
  }
  .pagination__list {
    margin-top: 40px;
  }
  .basket {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 59px;
  }
  .basket__card__icon {
    margin-left: 190px;
  }
  .basket__card:nth-last-child(2) {
    margin-bottom: 62px;
  }
  .basket__buttons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .basket__order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 64px;
  }
  .basket__checkout {
    margin-top: 0px;
  }
  .registration {
    padding-top: 40px;
  }
  .reg__form {
    margin-right: 22px;
  }
  .reg__loyalty {
    font-size: 16px;
    line-height: 19px;
  }
  .reg__loyalty__heading {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .top__form-input {
    display: none;
  }
  .center {
    padding-right: calc(50% - 180px);
    padding-left: calc(50% - 180px);
  }
  .icons__desctop {
    display: none;
  }
  .mob__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .promo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo__content {
    margin-left: 0;
  }
  .promo__img {
    display: none;
  }
  .promo__title {
    padding-top: 148px;
    padding-bottom: 149px;
    padding-right: calc(50% - 172px);
    padding-left: calc(50% - 172px);
  }
  .promo__h1 {
    font-size: 38px;
    line-height: 46px;
  }
  .promo__h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .offer {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .offer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px;
  }
  .offer__items {
    height: 249px;
  }
  .offer__bottom {
    height: 111px;
    margin-top: 32px;
  }
  .product {
    padding-bottom: 96px;
  }
  .product__text {
    padding-bottom: 64px;
  }
  .product__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 8px;
    padding-bottom: 32px;
  }
  .product__options__filter__summary {
    display: none;
  }
  .product__options__filter__img {
    height: 25px;
    width: 38px;
    margin-left: 0px;
    cursor: pointer;
  }
  .product__options__filter__details {
    width: 38px;
    padding: 13px 0px 16px;
  }
  .product__options__filter__details[open] {
    width: 358px;
    padding: 13px 8px 16px;
    margin-left: -8px;
  }
  .product__sort__summary {
    padding-bottom: 5px;
    padding-left: 0px;
    font-size: 12px;
    line-height: 14px;
  }
  .product__sort__img {
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 9px;
    margin-right: 24px;
  }
  .product__sort__details[open] .product__sort__selects {
    width: 60px;
    margin-left: -10px;
  }
  .product__sort__details[open] .product__sort__selects-trands {
    width: 120px;
  }
  .product__sort__selects-titles {
    padding-right: 30px;
  }
  .product__sort__selects-titles {
    padding-right: 65px;
  }
  .product__slider__img {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .product__slider__photo {
    width: 374px;
  }
  .product-description {
    padding: 64px 25px;
  }
  .product-description__title {
    line-height: 143.1%;
    padding-bottom: 31px;
  }
  .product-description__line_greay {
    width: 174px;
    margin-top: 32px;
    margin-bottom: 49px;
  }
  .product-description__btn {
    margin-top: 64px;
  }
  .feature {
    padding-top: 48px;
    padding-bottom: 81px;
  }
  .subscribe {
    padding-bottom: 110px;
    background-position: top;
  }
  .subscribe__info__text {
    padding-top: 30px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #222224;
  }
  .subscribe__item {
    margin-top: 59px;
  }
  .subscribe__item__text {
    font-size: 14px;
    line-height: 153.2%;
    padding-bottom: 22px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer_icons {
    padding-top: 43px;
  }
  .footer__text {
    padding-top: 40px;
    padding-bottom: 9px;
  }
  .breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .breadcrumb__heading {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .breadcrumb__right {
    padding-bottom: 46px;
  }
  .another__products {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .pagination__list {
    padding: 12px 16px;
  }
  .pagination__item:not(:last-child) {
    margin-right: 18px;
  }
  .sort_img {
    margin-right: 0px;
  }
  .basket {
    padding-top: 39px;
    padding-bottom: 96px;
  }
  .basket__card__content {
    padding: 14px 12px 38px 17px;
  }
  .basket__card__img {
    width: 144px;
  }
  .basket__card__icon {
    width: 10px;
    height: 10px;
    margin-left: 30px;
  }
  .basket__card h2 {
    font-size: 16px;
    line-height: 19px;
    width: 134px;
    padding-bottom: 26px;
  }
  .basket__card__selection {
    font-size: 14px;
    line-height: 17px;
  }
  .basket__card__quantity {
    font-size: 10px;
    line-height: 12px;
    margin-left: 15px;
    padding: 1px 8px;
    width: 24px;
  }
  .basket__card__items:not(:last-child) {
    margin-bottom: 4px;
  }
  .basket__buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .basket__btn {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 18px;
  }
  .basket__order {
    margin-top: 48px;
    display: block;
  }
  .basket__checkout {
    margin-top: 48px;
  }
  .registration {
    display: block;
  }
  .reg__loyalty__heading {
    margin-top: 40px;
  }
  .menu__burger {
    width: 325px;
  }
}
/*# sourceMappingURL=style.css.map */